*.lock
*~
.DS_Store
/.Xauthority
/.ant
/.asciidoc
/.bzr*
/.cache
/.chef
/.cups
/.fontconfig
/.gnupg/random_seed
/.gnupg/secring.gpg
/.gnupg/trustdb.gpg
/.ido.last
/.irb_history
/.k.aws
/.lesshst
/.local
/.netbeans
/.netrc
/.nixpkgs/
/.ocp
/.oh-my-zsh/
/.pip
/.recentf
/.rnd
/.s3cfg*
/.slime-history.eld
/.smex-items
/.ssh/*.pem
/.ssh/*_rsa
/.ssh/known_hosts
/.subversion/README.txt
/.subversion/auth
/.subversion/servers
/.tor
/.zcompdump
/.zsh-update
/.zsh_history
/.tilemill/config.json
