[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=xcompmgr
Comment=Compositing for X
Exec=xcompmgr
StartupNotify=false
Terminal=false
Hidden=false
