[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=XMonad
Comment=XMonad Window Manager
Exec=xmonad
StartupNotify=false
Terminal=false
Hidden=false
